.root{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.63);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.show{
    opacity: 1;
    pointer-events: visible;
}
.show>.modal{
    transform:translateY(0px);
    transition: all 0.3s ease-in-out;
}
.modal{
    padding: 28px;
    border-radius: 6px;
    color:#000;
    background-color: #fff;
    width: 700px;
    box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}